@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-bg: #17181c;
  --clr-bg-dark: #050505;
  --clr-bg-muted: #2f2f37;

  --clr-text: #feffff;
  --clr-text-muted: #c4c5c9;

  --clr-accent: #2f81f7;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-bg-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-bg-muted);
  border-radius: 5px;
}

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
